
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar styles (optional) */
::-webkit-scrollbar {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #0A2A4233;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0A2A4233;
}

